<div class="video-container">
  <div class="triggers">
    <div class="trigger mute-trigger"><span class="mute-icon fa fa-volume-off fa-4x"></span></div>
    <div class="trigger focus-trigger"><span class="focus-icon fa fa-expand fa-4x"></span></div>
  </div>
  <div class="dimmer"></div>
</div>
