//
// Intro sequencing of logo & message

//
// Non idle logo hovering
.logo-container {
  position: fixed;
  bottom: @frame-spacer;
  left: @frame-spacer;
  height: @logo-size;
  width: @logo-size;
  opacity: 0.2;
  z-index: @z-index-logo;
  transition: all @logo-change-timing;
}

.icon-logo {
  height: @logo-size;
  width: @logo-size;
}

//
// Spinning logo
.peers-0 {
  .logo-container {
    height: @idle-logo-size;
    width: @idle-logo-size;
    opacity: 0.4;
    .transform-centering();
    position: fixed;
  }

  .icon-logo {
    height: @idle-logo-size;
    width: @idle-logo-size;
  }

  .animation-idle {
    animation-name: spinner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    transform-style: preserve-3d;
    .global-animation-bezier();
  }
}

//
// Animations
@keyframes spinner {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
