<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dunlin.io</title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body class="peers-0">

<svg class="hidden" xmlns="http://www.w3.org/2000/svg"><symbol viewBox="0 0 24 24" id="logo-icon"><title>logo-icon</title><path d="M8.72543413,14.9369804 C7.40221691,17.1019459 6.27532114,20.0155624 5.60079055,21.9481123 C2.81512177,19.9524024 1,16.6881734 1,13 C1,6.92486775 5.92486775,2 12,2 C18.0751322,2 23,6.92486775 23,13 C23,16.6881734 21.1848782,19.9524024 18.3992095,21.9481123 C17.7334695,20.040748 16.6270783,17.1777215 15.3261989,15.0220014 C16.5540541,14.0582602 17.3428571,12.5605332 17.3428571,10.8785714 C17.3428571,7.97118671 14.9859561,5.61428571 12.0785714,5.61428571 C9.17118671,5.61428571 6.81428571,7.97118671 6.81428571,10.8785714 C6.81428571,12.5118484 7.55808541,13.9714016 8.72543413,14.9369804 Z M12.1571429,13.6285714 C13.7193197,13.6285714 14.9857143,12.3621769 14.9857143,10.8 C14.9857143,9.23782314 13.7193197,7.97142857 12.1571429,7.97142857 C10.594966,7.97142857 9.32857143,9.23782314 9.32857143,10.8 C9.32857143,12.3621769 10.594966,13.6285714 12.1571429,13.6285714 Z"></path></symbol></svg>

<svg class="icon icon-logo" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-icon"></use></svg>

<div id="avatar" title="Mute microphone">
  <video id="local" autoplay="autoplay" muted="true" class="local"></video>
  <span class="mute-icon fa fa-microphone-slash fa-4x"></span>
</div>

<div id="remotes-unfocused"></div>

<div id="remotes"></div>

<div class="toolbar">
  <button id="orientation-switch" class="orientation-switch">
    Switch <span class="fa fa-th-large"></span>
  </button>
</div>

<script>
  var connectionServer = '{{connectionServer}}';
</script>

<script src="js/client.js"></script>
</body>
</html>
