<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dunlin.io</title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="peers-0">

<div class="logo-container">
  <svg class="icon icon-logo animation-idle" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="icons/icons.svg#icon-logo"></use></svg>
  <h1 class="welcome-message animation-fadeout">Welcome</h1>
</div>

<div id="avatar" title="Mute microphone">
  <video id="local" autoplay="autoplay" muted="true" class="local"></video>
  <svg class="icon icon-4x icon-mute-mic" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="icons/icons.svg#icon-mute-mic"></use></svg>
</div>

<div id="remotes-unfocused"></div>

<div id="remotes"></div>

<script>
  var connectionServer = '{{connectionServer}}';
</script>

<script src="js/client.js"></script>
</body>
</html>
