<div class="video-container">
  <div class="triggers">
    <div class="trigger mute-trigger">
      <svg class="icon icon-4x" role="img">
        <use class="icon-sound" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="icons/icons.svg#icon-mute-sound"></use>
      </svg>
    </div>
    <div class="trigger focus-trigger">
      <svg class="icon icon-4x" role="img">
        <use class="icon-layout" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="icons/icons.svg#icon-layout-fullscreen"></use>
      </svg>
    </div>
  </div>
  <div class="dimmer"></div>
</div>
